NODE_ENV=development
PORT=5000
CLIENT_ORIGIN=http://localhost:8081
PORT=5000
MONGO_URI=mongodb://localhost:27017/tinderapp
JWT_SECRET=your_secret_key
CLIENT_URL=http://localhost:8081
JWT_EXPIRES_IN=7d
REDIS_URL=redis://localhost:6379
CLOUDINARY_CLOUD_NAME=ma0umxfj
CLOUDINARY_API_KEY=612431633565636
CLOUDINARY_API_SECRET=4iV-lJscc9FY4-KjvDQQpM4AMAQ
